@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.main-layout {
    padding: 10%;
    height: 700px;
    width: 900px;
    position: relative;
    display: inline-block;
    margin-right: 0%;
    text-align: center;
    font-family: Inter;
}

.h1 {
    font-family: Inter;
    font-style: italic;
}

.main-layout .sub-layout .h1 {
    font-family: Inter;
    font-size: 90vw;
}

.main-layout .sub-layout .p {
    font-family: Inter;
    border-radius: 2%;
}

.sidebar {
    font-family: Inter;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 2%;
    width: 15%;
    float: left;
    height: 60vh;
    background-color: white;
    padding: 1%;
    border-radius: 5%;
    position: relative;
    box-shadow:
    rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px; 
    text-align: center;
    justify-content: center;
}

.sidebar .button {
    margin: 0%;
    padding: 3%;
    font-size: 1rem;
    font-family: Inter;
    font: Inter;
    font-weight: 600;
    justify-content: center;
    border: white;
    width: 50%;
    border-radius: 5%;
    overflow: hidden;
    background-color: white;
}

.sub-layout {
    height: 400px;
    width: 900px;
    box-shadow:
    rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
}

.sidebar .button:hover {
    background-color: #c3c3c3;
}