QMessageBox {
    background-color: #f0f0f0;
    border: #f0f0f0;
    color:  rgb(23, 22, 22);
}

QMessageBox QPushButton {
    padding: 2px;
    border-style: solid;
    border: 1px solid #167fca;
    color: white;
    border-radius: 5px;
    background-color: #167fca;
}

QDialog QPushButton:hover {
    padding: 2px;
    border-style: solid;
    border: 1px solid #053262;
    color: silver;
    border-radius: 5px;
    background-color: #053262;
}


QMessageBox QLabel {
    color:  rgb(23, 22, 22);
}

QDialog {
    background-color: white;
    color:  rgb(23, 22, 22);
}

QDialog QPushButton {
    padding: 2px;
    border-style: solid;
    border: 1px solid #167fca;
    color: white;
    border-radius: 5px;
    background-color: #167fca;
}


QDialog QPushButton:hover {
    padding: 2px;
    border-style: solid;
    border: 1px solid #053262;
    color: silver;
    border-radius: 5px;
    background-color: #053262;
}


QDialog QLineEdit {
    background-color: #f0f0f0;
    padding: 2px;
    border-style: solid;
    border: 0.5px solid  #f0f0f0;
    border-radius: 5px;
    color:  rgb(23, 22, 22);
}

QDialog QLabel {
    color: rgb(23, 22, 22);
}

QDialog QLineEdit:selected {
    border: 2px solid #167fca;
}

QDialog QLineEdit:hover {
    border: 1px solid #106099;
}


QDialog QComboBox
{
    background-color: #f0f0f0;
    padding: 2px;
    border-style: solid;
    border: 0.5px solid  #f0f0f0;
    border-radius: 5px;
    color:  rgb(23, 22, 22);
}


QDialog QComboBox:on
{
    background-color: #f0f0f0;
    padding-top: 5px;
    padding-left: 3px;
    selection-background-color: #167fca;
}

QDialog QComboBox QAbstractItemView {
    border: 2px solid transparent;
    padding: 3px;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: rgb(23, 22, 22);
    selection-background-color: #167fca;
}

QDialog QComboBox::drop-down
{
    background-color: #f0f0f0;
    width: 15px;
    border-radius: 4px;
    border-left-width: 0px;
    selection-background-color: #167fca;
    border-left-color: transparent;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

