
QWidget#MainWidget {
    background-color: #f0f0f0;
}


QLineEdit {
    background-color: #f0f0f0;
    padding: 2px;
    border-style: solid;
    border: 0.5px solid  #f0f0f0;
    border-radius: 5px;
    color:  rgb(23, 22, 22);
}

QLineEdit:selected {
    border: 2px solid #167fca;
}

QLineEdit:hover {
    border: 1px solid #167fca;
}

QLabel {
    color: rgb(23, 22, 22);
}


QMainWindow {
    background-color: #f0f0f0;
}

QMenuBar {
    background-color: #f0f0f0;
    color: rgb(23, 22, 22);
}

QMenuBar::item
{
    background: transparent;
}

QMenuBar::item:pressed
{
    background-color: white;
    border-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom:-1px;
    padding-bottom:1px;
}

QMenu
{
    background-color: white;
    color: rgb(23, 22, 22);
}

QMenu::item
{
    padding: 3px 3px 3px 3px;
}

QMenu::item:selected
{
    background-color: #167fca;
    border-radius: 5px;
    border-color: #167fca;
    color: white;
}


QMenu::indicator:exclusive:checked {
    border-radius: 6px;
    background-color: #167fca;
}

QMenu::indicator:exclusive:checked:selected {
    border-radius: 6px;
    background-color: #167fca;
}


#NotifEdit {
    background-color: #f0f0f0;
    color: rgb(23, 22, 22);
    padding-left: 5px;
    border-radius: 10px;
    border-color: #f0f0f0;
    background-color: #f0f0f0;
    
}

#NotifEdit:hover {
    border-radius: 10px;
    border-color: #167fca   
}

QScrollArea {
    border-radius: 10px;
    border-color: #f0f0f0;
    color: #f0f0f0;
    background-color: #f0f0f0;
}

QPushButton {
    padding: 2px;
    border-style: solid;
    border: 1px solid #167fca;
    color: white;
    border-radius: 5px;
    background-color: #167fca;
}

QPushButton:pressed {
    padding: 2px;
    border-style: solid;
    border: 1px solid #0354ab;
    color: silver;
    border-radius: 5px;
    background-color: #0354ab;
}

QPushButton:hover {
    padding: 2px;
    border-style: solid;
    border: 1px solid #053262;
    color: silver;
    border-radius: 5px;
    background-color: #053262;
}


QPushButton:disabled
{
    background-color: #a8a7a7;
    border-width: 2px;
    border-color: #a8a7a7;
    border-style: solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    /*border-radius: 2px;*/
    color: rgb(23, 22, 22);
}


QScrollBar:horizontal
{
    height: 15px;
    margin: 3px 15px 3px 15px;
    border: 1px transparent #d4d4d4;
    border-radius: 4px;
    background-color: #d4d4d4;
}

QScrollBar::handle:horizontal
{
    background-color: #e8e5e5;
    min-width: 5px;
    border-radius: 4px;
}

QScrollBar::add-line:horizontal
{
    margin: 0px 3px 0px 3px;
    width: 10px;
    height: 10px;
    subcontrol-position: right;
    border-image: url(:/dark_blue/img/right_arrow_disabled.png);
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal
{
    margin: 0px 3px 0px 3px;
    height: 10px;
    width: 10px;
    border-image: url(:/dark_blue/img/right_arrow_disabled.png);
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover,QScrollBar::add-line:horizontal:on
{
    height: 10px;
    width: 10px;
    border-image: url(:/dark_blue/img/right_arrow_disabled.png);
    subcontrol-position: right;
    subcontrol-origin: margin;
}


QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on
{
    height: 10px;
    width: 10px;
    border-image: url(:/dark_blue/img/right_arrow_disabled.png);
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal
{
    background: none;
}


QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
    background: none;
}

QScrollBar:vertical
{
    background-color: #d4d4d4;
    width: 15px;
    margin: 15px 3px 15px 3px;
    border: 1px transparent #d4d4d4;
    border-radius: 4px;
}

QScrollBar::handle:vertical
{
    background-color: #e8e5e5;
    min-height: 5px;
    border-radius: 4px;
}

QScrollBar::sub-line:vertical
{
    margin: 3px 0px 3px 0px;
    height: 10px;
    width: 10px;
    border-image: url(:/dark_blue/img/right_arrow_disabled.png);
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical
{   
    margin: 3px 0px 3px 0px;
    height: 10px;
    width: 10px;
    border-image: url(:/dark_blue/img/right_arrow_disabled.png);
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover,QScrollBar::sub-line:vertical:on
{
    height: 10px;
    width: 10px;
    border-image: url(:/dark_blue/img/right_arrow_disabled.png);
    subcontrol-position: top;
    subcontrol-origin: margin;
}


QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on
{
    height: 10px;
    width: 10px;
    border-image: url(:/dark_blue/img/right_arrow_disabled.png);
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
    background: none;
}


QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}


QTabWidget::pane { /* The tab widget frame 063970*/
    background-color: white;
    border-color: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    color:rgb(23, 22, 22);
}

QTabBar::tab {
    background-color: #f0f0f0;
    color:rgb(23, 22, 22);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-width: 0px;
    padding: 3px;
}

QTabBar::tab:hover {
    background-color: #167fca;
    color: rgb(23, 22, 22);
    opacity: 50%;
}

QScrollArea:hover {
    border-radius: 5px;
    border-color: #167fca;
}

QTabBar::tab:selected {
    border-color: white;
    background-color: white;
    text-decoration: none;
    color: rgb(23, 22, 22);
    font-size: larger;
}

QComboBox
{
    background-color: #f0f0f0;
    padding: 2px;
    border-style: solid;
    border: 0.5px solid  #f0f0f0;
    border-radius: 5px;
    color:  rgb(23, 22, 22);
}

QComboBox:on
{
    background-color: #f0f0f0;
    padding-top: 5px;
    padding-left: 3px;
    selection-background-color: #167fca;
}

QComboBox QAbstractItemView {
    border: 2px solid transparent;
    padding: 3px;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: rgb(23, 22, 22);
    selection-background-color: #167fca;
}

QComboBox::drop-down
{
    background-color: #f0f0f0;
    width: 15px;
    border-radius: 4px;
    border-left-width: 0px;
    selection-background-color: #167fca;
    border-left-color: transparent;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
